<main id="page-wrapper">
  <section class="box">
    <h1>{{ 'title' | translate }}</h1>
    <h2>{{ 'subtitle' | translate }}</h2>

    <form id="login-box" [formGroup]="form">
      <span class="field-control">
        <span class="p-float-label">
          <input id="field-password" type="password" pInputText formControlName="password" aria-describedby="password-help" />
          <label for="field-password">{{ 'account.password' | translate }}</label>
        </span>
        <ng-container *ngIf="form.get('password')?.touched">
          <small id="password-help" class="p-error" *ngIf="form.get('password')?.hasError('required')">
            {{ 'validate.required' | translate }}
          </small>
        </ng-container>
      </span>
      <span class="field-control">
        <span class="p-float-label">
          <input
            id="field-confirm-password"
            type="password"
            pInputText
            formControlName="confirmPassword"
            aria-describedby="confirm-password-help"
          />
          <label for="field-confirm-password">{{ 'account.confirmPassword' | translate }}</label>
        </span>
        <ng-container *ngIf="form.get('confirmPassword')?.touched">
          <small id="confirm-password-help" class="p-error" *ngIf="form.get('confirmPassword')?.hasError('required')">
            {{ 'validate.required' | translate }}
          </small>
          <small id="confirm-password-help" class="p-error" *ngIf="form.get('confirmPassword')?.hasError('isMatching')">
            {{ 'validate.passwordDoNotMatching' | translate }}
          </small>
        </ng-container>
      </span>

      <div class="d-flex d-flex-space-between w-100 actions">
        <p-button [label]="'account.resetPassword.goToLogin' | translate" styleClass="p-button-link" (click)="goToLogin()"></p-button>
        <button appPreventDoubleClick (click)="resetPassword()" pButton pRipple type="submit" [label]="'account.resetPassword.setPassword' | translate"></button>
      </div>
    </form>
  </section>
</main>
