<h1 class="title">{{ 'account.changePassword.title' | translate }}</h1>
<div class="control-box">
  <form [formGroup]="form">
    <div class="field d-flex d-flex-justify-center">
      <div class="col-12 md:col-6">
        <span class="p-float-label">
          <input
            id="field-currentPassword"
            type="password"
            pInputText
            formControlName="currentPassword"
            aria-describedby="currentPassword-help"
          />
          <label for="field-currentPassword">{{ 'account.currentPassword' | translate }}</label>
        </span>
        <ng-container *ngIf="form.get('password')?.touched">
          <small id="currentPassword-help" class="p-error" *ngIf="form.get('currentPassword')?.hasError('required')">
            {{ 'validate.required' | translate }}
          </small>
        </ng-container>
      </div>
    </div>
    <div class="field d-flex d-flex-justify-center">
      <div class="col-12 md:col-6">
        <span class="p-float-label">
          <input id="field-password" type="password" pInputText formControlName="password" aria-describedby="password-help" />
          <label for="field-password">{{ 'account.password' | translate }}</label>
        </span>
        <ng-container *ngIf="form.get('password')?.touched">
          <small id="password-help" class="p-error" *ngIf="form.get('password')?.hasError('required')">
            {{ 'validate.required' | translate }}
          </small>
          <small id="password-help" class="p-error" *ngIf="form.get('password')?.hasError('minlength')">
            {{ 'validate.minlength' | translate: { value: 4 } }}
          </small>
          <small id="password-help" class="p-error" *ngIf="form.get('password')?.hasError('maxlength')">
            {{ 'validate.maxlength' | translate: { value: 100 } }}
          </small>
        </ng-container>
      </div>
    </div>
    <div class="field d-flex d-flex-justify-center">
      <div class="col-12 md:col-6">
        <span class="p-float-label">
          <input
            id="field-confirm-password"
            type="password"
            pInputText
            formControlName="confirmPassword"
            aria-describedby="confirm-password-help"
          />
          <label for="field-confirm-password">{{ 'account.confirmPassword' | translate }}</label>
        </span>
        <ng-container *ngIf="form.get('confirmPassword')?.touched">
          <small id="confirm-password-help" class="p-error" *ngIf="form.get('confirmPassword')?.hasError('required')">
            {{ 'validate.required' | translate }}
          </small>
          <small id="confirm-password-help" class="p-error" *ngIf="form.get('confirmPassword')?.hasError('isMatching')">
            {{ 'validate.passwordDoNotMatching' | translate }}
          </small>
        </ng-container>
      </div>
    </div>
    <div class="d-flex d-flex-justify-center">
      <button
        appPreventDoubleClick
        (click)="changePassword()"
        pButton
        pRipple
        type="submit"
        [label]="'account.changePassword.btn' | translate"
      ></button>
    </div>
  </form>
</div>
