.auction-green {
  td {
    background-color: #d5fcd9 !important;
  }
}

.auction-yellow {
  td {
    background-color: #faffc7 !important;
  }
}

.auction-red {
  td {
    background-color: #fcbcbc !important;
  }
}
