<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.product.creation.title}">Flexibility Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.product.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.product.creation.text1(${product.fullName})}">
    Product has been created with the following attributes
</p>
<ul>
    <li th:text="#{email.product.creation.locational(${user.langKey == 'pl' ? (product.locational ? 'tak' : 'nie') : (product.locational ? 'yes' : 'no')})}">Locational</li>
    <li th:text="#{email.product.creation.minBidSize(${product.minBidSize})}">Minimal bid size</li>
    <li th:text="#{email.product.creation.maxBidSize(${product.maxBidSize})}">Maximal bid size</li>
    <li th:text="#{email.product.creation.maxFullActivationTime(${product.maxFullActivationTime})}">Maximal full activation time</li>
    <li th:text="#{email.product.creation.minRequiredDeliveryDuration(${product.minRequiredDeliveryDuration})}">Minimal required duration of delivery</li>
    <li th:text="#{email.product.creation.active(${user.langKey == 'pl' ? (product.active ? 'tak' : 'nie') : (product.active ? 'yes' : 'no')})}">Active</li>
    <li th:text="#{email.product.creation.balancing(${user.langKey == 'pl' ? (product.balancing ? 'tak' : 'nie') : (product.balancing ? 'yes' : 'no')})}">Balancing</li>
    <li th:text="#{email.product.creation.cmvc(${user.langKey == 'pl' ? (product.cmvc ? 'tak' : 'nie') : (product.cmvc ? 'yes' : 'no')})}">CM&VC</li>
    <li th:text="#{email.product.creation.validFrom(${validFrom})}">Valid from</li>
    <li th:text="#{email.product.creation.validTo(${validTo})}">Valid to</li>
    <li th:text="#{email.product.creation.pso(${psoUser})}">pSo</li>
    <li th:text="#{email.product.creation.sso(${ssoUsers})}">sSo</li>
</ul>
<p>
    <a th:with="url=(@{|${baseUrl}/products?id=${product.id}|})" th:href="${url}" th:text="#{email.product.creation.link}">
        Link
    </a>
</p>
<p>
    <span th:text="#{email.product.regards}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">OneNet Flexibility Platform Administration.</em>
</p>
</body>
</html>
