.c-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}

.d-flex-align-center {
  align-items: center !important;
}

.d-justify-content-end {
  justify-content: flex-end !important;
}

.d-flex-space-between {
  justify-content: space-between !important;
}

.d-flex-justify-center {
  justify-content: center !important;
}

.d-flex-justify-end {
  justify-content: flex-end;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.w-100 {
  width: 100% !important;
}
