<app-library-calendar
  [(ngModel)]="value"
  (ngModelChange)="onChangeValue($event)"
  [inputId]="inputId"
  [selectionMode]="selectionMode"
  [dateFormat]="format"
  appendTo="body"
  [minDate]="min"
  [maxDate]="max"
  [baseZIndex]="50000"
  [showIcon]="showIcon"
  [showTime]="showTime"
  [timeOnly]="timeOnly"
  [show24Hour]="show24Hour"
  [showSeconds]="showSeconds"
  [showMinute]="showMinute"
  [stepMinute]="stepMinute"
  [dayForTime]="dayForTime"
  [icon]="icon"
  [styleClass]="styleClass"
  [disabled]="disabled"
  (onFocus)="onFocus()"
  (onBlur)="onBlur()"
  [firstDayOfWeek]="1"
></app-library-calendar>
