<header class="d-flex">
  <app-language-change></app-language-change>

  <div class="badge-container" *appHasAuthority="'FLEX_USER_VIEW_NOTIFICATION'">
    <button
      pButton
      pRipple
      type="button"
      icon="icon icon--messages"
      class="p-button-rounded p-button-text"
      (click)="messagesPanel.toggle($event)"
    ></button>
    <i pBadge [value]="'' + ((unreadNotifications$ | async) || '0')"></i>
  </div>
  <button
    pButton
    pRipple
    type="button"
    icon="icon icon--user"
    class="p-button-rounded p-button-text"
    [pTooltip]="'actions.myProfile' | translate"
    tooltipPosition="bottom"
    [routerLink]="['/user-profile']"
  ></button>
  <h2>{{ userName }}</h2>
  <button
    appPreventDoubleClick
    pButton
    pRipple
    type="button"
    icon="icon icon--logout"
    class="p-button-rounded p-button-text"
    (click)="logout()"
    [pTooltip]="'actions.logout' | translate"
  ></button>
</header>
<div id="wrapper-main-page">
  <app-sidebar *ngIf="!hideSidebar"></app-sidebar>
  <div id="container-fluid" [ngClass]="containerCustomClass">
    <ng-container *ngIf="offerUpdateReminder$ | async as data">
      <p-messages severity="warn" styleClass="alert-warn" *ngIf="data.hasReminder">
        <ng-template pTemplate>
          <div>
            {{ 'global.offerReminder' | translate }}
            <a [routerLink]="['/auctions/day-ahead/energy']" [queryParams]="{ id: data.auctionId }">{{ data.auctionName }}</a>
          </div>
        </ng-template>
      </p-messages>
    </ng-container>

    <router-outlet></router-outlet>
  </div>
</div>

<p-overlayPanel
  #messagesPanel
  appendTo="body"
  [dismissable]="false"
  [showCloseIcon]="true"
  [baseZIndex]="900"
  [autoZIndex]="false"
  [style]="{ width: '80vw', 'max-width': '500px' }"
  styleClass="notification-overlay"
>
  <ng-template pTemplate>
    <app-notifications></app-notifications>
  </ng-template>
</p-overlayPanel>
