:host ::ng-deep {
  .cdk-virtual-scroll-content-wrapper .viewport {
    display: flex;
    flex-direction: row;
  }

  .auction-offers-table {
    width: 1630px;
  }
}

.bid-green {
  td {
    background-color: #d5fcd9 !important;
  }
}

.bid-yellow {
  td {
    background-color: #faffc7 !important;
  }
}

.bid-red {
  td {
    background-color: #fcbcbc !important;
  }
}

.volumes-verified {
  td {
    background-color: #fac19b !important;
  }
}
