<div class="table-box">
  <app-columns-configuration
    [columns]="columns"
    [(ngModel)]="activeColumns"
    (ngModelChange)="onActiveColumnsChange()"
  ></app-columns-configuration>

  <p-table
    *ngIf="data$ | async as data"
    [lazy]="true"
    [value]="data"
    [scrollable]="true"
    [columns]="activeColumns"
    [sortField]="viewParameters.sortField"
    [sortOrder]="viewParameters.sortOrder"
    [filters]="viewParameters.dynamicFilters"
    (onLazyLoad)="loadCollection($event)"
    responsiveLayout="scroll"
    appStickyTable
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="flex: 1 0 200px" *ngIf="columnsState.descriptionEn" pSortableColumn="descriptionEn">
          <div class="flex justify-content-between align-items-center">
            {{ 'schedulingUnits.table.typeName' | translate }}
            <p-sortIcon field="descriptionEn"></p-sortIcon>
          </div>
        </th>
        <th style="flex: 1 0 200px" *ngIf="columnsState.descriptionPl" pSortableColumn="descriptionPl">
          <div class="flex justify-content-between align-items-center">
            {{ 'schedulingUnits.table.typeName' | translate }}
            <p-sortIcon field="descriptionPl"></p-sortIcon>
          </div>
        </th>
        <th style="flex: 1 0 200px" *ngIf="columnsState.products" pSortableColumn="products">
          <div class="flex justify-content-between align-items-center">
            {{ 'schedulingUnits.table.products' | translate }}
            <p-sortIcon field="products"></p-sortIcon>
          </div>
        </th>
        <th style="flex: 1 0 140px" *ngIf="columnsState.createdDate" pSortableColumn="createdDate">
          <div class="flex justify-content-between align-items-center">
            {{ 'schedulingUnits.table.createdDate' | translate }}
            <p-sortIcon field="createdDate"></p-sortIcon>
          </div>
        </th>
      </tr>
      <tr class="filter-row">
        <th style="flex: 1 0 200px" *ngIf="columnsState.descriptionEn">
          <p-columnFilter type="text" field="descriptionEn" matchMode="contains"></p-columnFilter>
        </th>
        <th style="flex: 1 0 200px" *ngIf="columnsState.descriptionPl">
          <p-columnFilter type="text" field="descriptionPl" matchMode="contains"></p-columnFilter>
        </th>
        <th style="flex: 1 0 200px" *ngIf="columnsState.products">
          <p-columnFilter field="productId" matchMode="in" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <app-multiselect
                inputId="productId"
                [options]="dictionaries.products | async"
                [ngModel]="value"
                styleClass="multiselect-filter-row"
                iconClass="icon icon--expand-white"
                (onChange)="filter($event.value)"
              ></app-multiselect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="flex: 1 0 140px" *ngIf="columnsState.createdDate">
          <p-columnFilter type="date" field="createdDate" matchMode="gte">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <app-calendar inputId="createdDate" [ngModel]="value" (ngModelChange)="filter($event)" [showIcon]="false"></app-calendar>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td style="flex: 1 0 200px" *ngIf="columnsState.descriptionEn">{{ row.descriptionEn }}</td>
        <td style="flex: 1 0 200px" *ngIf="columnsState.descriptionPl">{{ row.descriptionPl }}</td>
        <td style="flex: 1 0 200px" *ngIf="columnsState.products">
          <div [pTooltip]="getProductValues(row)" class="text-ellipsis" style="max-width: 200px">
            {{ getProductValues(row) }}
          </div>
        </td>
        <td style="flex: 1 0 140px" *ngIf="columnsState.createdDate">{{ row.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns="columns">
      <tr class="empty-row">
        <td *ngIf="columnsState.actions" [attr.colspan]="columns?.length"></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="pagination-box">
  <app-pagination
    [size]="rows"
    [currentPage]="page"
    [totalElements]="totalRecords$ | async"
    (changePage)="changePage($event)"
  ></app-pagination>
</div>
