<app-modal [showHeader]="false">
  <div modal-content>
    <form [formGroup]="form">
      <span class="field-control">
        <span class="p-float-label">
          <input id="field-email" type="email" pInputText formControlName="email" aria-describedby="email-help" />
          <label for="field-email">{{ 'login.email' | translate }}</label>
        </span>
        <ng-container *ngIf="form.get('email')?.touched">
          <small id="email-help" class="p-error" *ngIf="form.get('email')?.hasError('email')">
            {{ 'validate.email' | translate }}
          </small>
          <small id="email-help" class="p-error" *ngIf="form.get('email')?.hasError('required')">
            {{ 'validate.required' | translate }}
          </small>
        </ng-container>
      </span>
    </form>
  </div>
  <div modal-footer>
    <button
      appPreventDoubleClick
      pButton
      pRipple
      type="submit"
      [label]="'login.forgotPassword.reset' | translate"
      (click)="forgotPassword()"
    ></button>
  </div>
</app-modal>
