@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans'), local('OpenSans-Regular'), url('./OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Bold'), local('OpenSans-Bold'), url('./OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Italic'), local('OpenSans-Italic'), url('./OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans BoldItalic'), local('OpenSans-BoldItalic'), url('./OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Light'), local('OpenSans-Light'), url('./OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans LightItalic'), local('OpenSans-LightItalic'), url('./OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
