<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.schedulingUnit.proposal.toBsp.new.title}">Flexibility Platform - Scheduling Unit Proposal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.schedulingUnit.proposal.greeting(${proposal.details.bspName})}">
            Dear BSP,
        </p>
        <p th:text="#{email.schedulingUnit.proposal.toBsp.text1(${proposal.details.fspName}, ${proposal.details.derName})}">
            FSP wants to connect DER with your organization.
        </p>
        <p th:text="#{email.schedulingUnit.proposal.clickUrl}">
            Click here to accept or reject an offer:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/scheduling-units/unitProposalLink/?id=${proposal.id}&type=FSP|})" th:href="${url}"
               th:text="#{email.schedulingUnit.proposal.link}" th:style="'color: blue;'">link</a>
        </p>
    </body>
</html>
