<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.fspUserRegistration.title}">Flexibility Platform</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.fspUserRegistration.greeting(${fspUserReg.userName})}">
            Dear
        </p>
        <p th:text="#{email.fspUserRegistration.fsp.inform.acceptedByMo(${fspUserReg.id})}">
            Your application for registration on the Flexibility Platform has been accepted. You are now able to fully use Flexibility Platform FSP.
        </p>
        <p>
            <span th:text="#{email.fspUserRegistration.regards}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">OneNet Flexibility Platform Administration.</em>
        </p>
    </body>
</html>
