<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.flexRegister.schedulingUnit.creation.title}">Flexibility Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.flexRegister.schedulingUnit.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.flexRegister.schedulingUnit.text1(${schedulingUnitId})}">
    Scheduling unit has been moved to flex register created with the following attributes
</p>
<ul>
    <li th:text="#{email.flexRegister.schedulingUnit.bsp(${bspName})}">BSP</li>
    <li th:text="#{email.flexRegister.schedulingUnit.type(${type})}">Type</li>
    <li th:text="#{email.flexRegister.schedulingUnit.couplingPoints(${couplingPointsId})}">Coupling Points</li>
    <li th:if="${primaryCP != null}" th:text="#{email.flexRegister.schedulingUnit.primaryCouplingPoints(${primaryCP})}">Primary coupling Points</li>
    <li th:text="#{email.flexRegister.schedulingUnit.numberOfDers(${numberOfDers})}">Number of ders</li>
    <li th:text="#{email.flexRegister.schedulingUnit.active(${active})}">Active</li>
</ul>

<p>
    <a th:with="url=(@{|${baseUrl}/scheduling-units/register?id=${schedulingUnitId}|})" th:href="${url}" th:text="#{email.flexRegister.schedulingUnit.link}">
        Link
    </a>
</p>
<p>
    <span th:text="#{email.flexRegister.schedulingUnit.regards}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">OneNet Flexibility Platform Administration.</em>
</p>
</body>
</html>
