<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title th:text="#{email.unit.creation.title}">Flexibility Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.unit.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.unit.creation.text1(${unit.name})}">
    DER has been created with the following attributes
</p>
<ul>
    <li th:text="#{email.unit.creation.fsp(${unit.fsp.representative.companyName})}">Company name</li>
    <li th:if="${unit.code != null}" th:text="#{email.unit.creation.code(${unit.code})}">Code</li>
    <li th:text="#{email.unit.creation.sourcePower(${unit.sourcePower})}">Source power</li>
    <li th:text="#{email.unit.creation.connectionPower(${unit.connectionPower})}">Connection power</li>
    <li th:text="#{email.unit.creation.directionOfDeviation(${directionOfDeviation})}">Direction of deviation</li>
    <li th:if="${not #strings.isEmpty(derTypeReception)}" th:text="#{email.unit.creation.derTypeReception(${derTypeReception})}">Der Type Reception</li>
    <li th:if="${not #strings.isEmpty(derTypeEnergyStorage)}" th:text="#{email.unit.creation.derTypeEnergyStorage(${derTypeEnergyStorage})}">Der Type Energy Storage</li>
    <li th:if="${not #strings.isEmpty(derTypeGeneration)}" th:text="#{email.unit.creation.derTypeGeneration(${derTypeGeneration})}">Der Type Generation</li>
    <li th:text="#{email.unit.creation.validFrom(${validFrom})}">Valid from</li>
    <li th:text="#{email.unit.creation.validTo(${validTo})}">Valid to</li>
    <li th:text="#{email.unit.creation.ppe(${unit.ppe})}">PPE</li>
    <li th:if="${not #strings.isEmpty(couplingPointIds)}" th:text="#{email.unit.creation.couplingPointId(${couplingPointIds})}">Coupling point ID</li>
    <li th:if="${not #strings.isEmpty(powerStationTypes)}" th:text="#{email.unit.creation.powerStation(${powerStationTypes})}">Power station MV/LV number</li>
    <li th:if="${unit.mridTso != null}" th:text="#{email.unit.creation.mridTso(${unit.mridTso})}">mRID (TSO)</li>
    <li th:if="${unit.mridDso != null}" th:text="#{email.unit.creation.mridDso(${unit.mridDso})}">mRID (DSO)</li>
    <li th:text="#{email.unit.creation.active(${active})}">Active</li>
    <li th:text="#{email.unit.creation.aggregated(${aggregated})}">Aggregated</li>
    <li th:text="#{email.unit.creation.certified(${certified})}">Certified</li>
    <li th:if="${unit.pMin != null}" th:text="#{email.unit.creation.pMin(${unit.pMin})}">Minimum power</li>
    <li th:if="${unit.qMin != null}" th:text="#{email.unit.creation.qMin(${unit.qMin})}">Minimum reactive power</li>
    <li th:if="${unit.qMax != null}" th:text="#{email.unit.creation.qMax(${unit.qMax})}">Maximum reactive power</li>
    <li th:if="${not #strings.isEmpty(pointOfConnectionWithLvTypes)}" th:text="#{email.unit.creation.pointOfConnectionWithLv(${pointOfConnectionWithLvTypes})}">Point of connection with LV</li>
</ul>
<p>
    <a th:with="url=(@{|${baseUrl}/ders/list?id=${unit.id}|})" th:href="${url}" th:text="#{email.unit.creation.link}">
        Link
    </a>
</p>
<p>
    <span th:text="#{email.unit.regards}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">OneNet Flexibility Platform Administration.</em>
</p>
</body>
</html>
